In [1]:
# 기본 라이브러리
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 그래프 기본 테마 설정
# https://coldbrown.co.kr/2023/07/%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EC%8B%A4%EC%A0%84%ED%8E%B8-08-seaborn-sns-set%EC%9D%84-%ED%86%B5%ED%95%B4-%EC%8A%A4%ED%83%80%EC%9D%BC-%EC%84%A4%EC%A0%95%ED%95%98%EA%B8%B0/
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 복잡한 통계 처리를 위한 라이브러리
from scipy import stats

# 필요한 패키지
import os

In [4]:
# 현재 경로 확인
os.getcwd()

'c:\\Users\\admin\\Desktop\\mid_project\\MidProject'

In [3]:

# 상위 폴더로 이동
os.chdir('../../')

### 전처리

In [34]:
registerd_df = pd.read_csv("data/processed/등록외국인_현황_국적별_구별_2023년3분기.csv", index_col=0)
registerd_df.head()

,국적,성별,소계,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,...,강서구,구로구,금천구,영등포구,동작구,관악구,서초구,강남구,송파구,강동구
0,소계,남자,107958,4597,4873,7842,2966,6167,6468,2030,...,2470,12207,7094,11682,4342,6190,2087,2452,2568,1812
1,소계,여자,140420,6585,5547,6698,4211,9188,11407,3113,...,3169,10679,6371,11022,6244,9220,2275,2882,3203,2256
2,한국계 중국인,남자,37916,415,537,295,599,1723,797,522,...,860,9318,5371,8415,1529,2888,180,156,978,688
3,한국계 중국인,여자,31756,434,529,343,605,1714,797,599,...,859,6386,3872,6600,1426,2679,225,263,966,652
4,중국,남자,21288,1095,1251,200,909,1736,2313,237,...,329,2061,1045,1989,1185,914,295,467,357,188

In [ ]:

# 국적 + 성별 결합
registerd_df['국적_성별'] = registerd_df['국적'].astype(str).str.strip() + "(" + registerd_df['성별'].astype(str).str.strip() + ")"

# 지역 컬럼만 추출
region_columns = registerd_df.columns.difference(['국적', '성별', '소계', '국적_성별']).tolist()

# 필요한 컬럼만 남기고 transpose
region_df = registerd_df[['국적_성별'] + region_columns].copy()
region_df = region_df.set_index('국적_성별').T

# 튜플 형태 컬럼 이름 제거
region_df.columns = [col[0] if isinstance(col, tuple) else col for col in region_df.columns]

# 숫자 변환
region_df = region_df.apply(pd.to_numeric, errors='coerce')

#  확인
region_df.head()

,소계(남자),소계(여자),한국계 중국인(남자),한국계 중국인(여자),중국(남자),중국(여자),미국(남자),미국(여자),타이완(남자),타이완(여자),...,페 루(남자),페 루(여자),덴 마 크(남자),덴 마 크(여자),모 로 코(남자),모 로 코(여자),이 라 크(남자),이 라 크(여자),기 타(남자),기 타(여자)
강남구,2452,2882,156,263,467,466,467,446,63,85,...,1.0,2.0,5.0,3.0,3.0,11.0,NaN,NaN,75,97
강동구,1812,2256,688,652,188,422,79,130,26,51,...,2.0,1.0,NaN,NaN,3.0,4.0,NaN,NaN,17,22
강북구,1613,3036,360,398,264,738,51,46,51,76,...,NaN,1.0,NaN,NaN,1.0,5.0,NaN,NaN,24,54
강서구,2470,3169,860,859,329,683,89,112,119,150,...,NaN,1.0,1.0,2.0,4.0,10.0,NaN,1.0,48,41
관악구,6190,9220,2888,2679,914,1831,143,231,54,140,...,3.0,15.0,7.0,4.0,15.0,47.0,NaN,2.0,193,285

In [39]:
region_df.isna().sum()
region_df = region_df.fillna(0)

In [41]:
print(region_df.isna().sum().sum())

0

In [43]:
region_df.to_csv("data/processed/등록외국인_현황_국적별_구별_2023_3분기.csv", index=True, encoding='utf-8-sig')